* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(0, 255, 38);
}
#navigationArea{
    display: block;
    width: 10%;
    height: 100vh;
    background-color: #4EAFB6;
}
nav a{
    width: 100%;
    height: 20vh;
    text-decoration: none;
    cursor: pointer;
    display: block;
    border: none;
    background-color: #4EAFB6;
    text-align: center;
}
nav a span{
    color: black;
    display: block;
    font-size: 1em;
    margin-top: 5px;
}
nav a img{
    height: 30%;
    margin-top: 20%;
}
#AboutButton{
    background-color: #23A9D4;
}
section{
    display: block;
    font-size: 3rem;
    position: absolute;
    top: 50%; left: 40%;
    text-align: center;
}