* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: aqua;
    background-image: url("./Images/BG.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(-2) contrast(-2) saturate(1.5) ;
}

#navigationArea{
    display: block;
    width: 10%;
    height: 100vh;
    background-color: #4EAFB6;
}
nav a{
    width: 100%;
    height: 20vh;
    text-decoration: none;
    cursor: pointer;
    display: block;
    border: none;
    background-color: #4EAFB6;
    text-align: center;
}
nav a span{
    color: black;
    display: block;
    font-size: 1rem;
    margin-top: 5px;
}
nav a img{
    height: 30%;
    margin-top: 20%;
}
#HomeButton{
    background-color: #23A9D4;
}
#GreetingVeiwer{
    display: block;
    position: absolute;
    left: 15%;
    bottom: 15%;
}
#GreetingVeiwer div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    -webkit-text-stroke: 1px rgb(200, 0, 0);
}
#GreetingVeiwer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: right;
}